@charset "UTF-8";
/*
em HTML é id= em CSS é # (só pode um elemento por documento HTML)
em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color: rgba(117, 167, 104, 0.486);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgba(77, 110, 5, 0.486);
}
h1#principal{
    text-align: center;
    background-color: rgb(20, 138, 20);
    color: white;
}
h2{
    color: rgba(78, 94, 43, 0.486);
}
.basico{
    font-size: larger;
    color: rgb(104, 65, 7);
}
.intermediario{
    font-size: larger;
    color: rgb(36, 114, 124);
}
.avancado{
    font-size: larger;
    color: rgb(27, 133, 182);
}
.destaque{
    background-color: rgba(236, 234, 72, 0.699);
}