@charset "UTF-F8"

{
    fonte-family: arial, helvetica, sans-serif;

}
p{
    text-align: justify;
}
body{
   background-image:linear-gradient( to right, #EAC8CA, #c286ce,#d75de09d,#7f5e92); ;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 16px rgba(32, 36,41, 0.685);
    width: 600px;
    padding: 10px;
    margin:auto;
}